.infobox{
    text-align: center;
}
.cardContainer{
    display: flex;
    justify-content: center;
}
.card{
    border-radius: 10px !important;
    box-shadow: 3px 3px 10px black !important;
}
#icon{
    position: relative;
    margin-left: -0.5rem;
    margin-top: 0.5rem;
}
#typo{
    display: flex;
    justify-content: center;
    align-items: center;
}
